.scoreBoard {
    box-shadow: 3px 3px 20px 2px rgb(48, 48, 48);
    padding: 1vh;
    background-color: inherit;
    width: 150px;
    max-width: 150px;
    max-height: 150px;
    margin-left: 78px;
 /*   position: absolute;
    margin-top: 500px;
    margin-left: 400px; */
    display: block;
    z-index: 1;
    font-size: 50px;
}


@media screen and (orientation: portrait) {
    .scoreBoard {
        margin-left: 5vw;
        margin-top: 1vh;
        max-width: 10vw;
        width: auto;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        max-height: 10vh;
        padding: 1vw;
        box-shadow: none;
        border: 1px solid black;
    }

    
}