.root {
    width: 100vw;
    height: 100vh;
    min-height: 100%;
    min-height: -webkit-fill-available;
    height: calc(var(--vh, 1vh) * 100);
}



.main {
    display: flex;
    flex-direction: column;
    
}


@media screen and (orientation: portrait) {
    .main {
      /*  flex-direction: column; */
    }
    
}