.root {

    max-height: 100vh;
    height: 100%;
    width: 100vw;
    margin: auto;
}



.main {
    display: flex;
    width: 100%;
    flex-direction: column;
    max-height: 90vh;
}


@media screen and (orientation: portrait) {
    .main {
      /*  flex-direction: column; */
    }
    
}