.root {

    max-height: 100vw;
    
}



.main {
    
    display: flex;
    flex-direction: row;
    justify-content: center;
}


@media screen and (orientation: portrait) {
    .main {
        flex-direction: column;
    }
    
}