.field {
    box-shadow: 3px 3px 20px 2px rgb(48, 48, 48);
    
    background: white;
    border-top: none;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
}

@media screen and (orientation: portrait) {
    .field {
        max-width: 40vh;
        max-height: 80vh;
        box-shadow: none;
        border: 1px solid black;
        border-top: none;
    }
    
}