@import url(../blocks/field/field.css);
@import url(../blocks/root/root.css);
@import url(../blocks/backGround/backGround.css);
@import url(../blocks/scoreBoard/scoreBoard.css);
@import url(../blocks/scoreBoard/__nextFigure/scoreBoard__nextFigure.css);
@import url(../blocks/pause-banner/pause-banner.css);
@import url(../blocks/pause-banner/__text/pause-banner__text.css);


body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow-y: hidden;
}

@media screen and (orientation: portrait) {
    body {
        align-items: flex-start;
    }
    
}