.scoreBoard__nextFigure {
    width: 50%;
    max-width: 60%;
    max-height: 60%;
    margin-top: 10px;
    width: 8vw;
    height: 8vw;
    align-self: center;
    justify-self: center;
}

@media screen and (orientation: portrait) {
    .scoreBoard__nextFigure {
       margin-top: 0;
       margin-left: 0;
    }
    
}